In [1]:
import pandas as pd
import numpy as np

In [2]:
path ='../Cytoscape/STRING network (physical)(1) default edge  kinase genes principal component 75 nodes (0.9confidence).csv'
data = pd.read_csv(path)
path ='../../../../Data_preprocessing/Prediction PFS/RNA+Clinic joined/Clinical_data_and_RNA_total_Features_PFS.csv'
rna = pd.read_csv(path)
# rna = rna .iloc[:,28:43921  ]
data.head()

,interaction,name,selected,shared interaction,shared name,stringdb::databases,stringdb::experiments,stringdb::interspecies,stringdb::score,stringdb::textmining
0,ppp,PRKAR2B (ppp) AKAP1,False,ppp,PRKAR2B (ppp) AKAP1,0.6,0.585,NaN,0.961,0.789
1,ppp,MAP3K3 (ppp) TAB2,False,ppp,MAP3K3 (ppp) TAB2,0.9,NaN,NaN,0.900,NaN
2,ppp,PRKAR2B (ppp) AKAP9,False,ppp,PRKAR2B (ppp) AKAP9,0.9,0.625,NaN,0.961,0.058
3,ppp,MAP3K3 (ppp) MAP3K7,False,ppp,MAP3K3 (ppp) MAP3K7,0.9,0.496,NaN,0.958,0.249
4,ppp,PRKAR2B (ppp) PRKAR1A,False,ppp,PRKAR2B (ppp) PRKAR1A,0.9,0.520,NaN,0.963,0.305

In [3]:
Y = [] # Target column
# For each entry I classified it by its PFS value.
for i in range (len(rna)):
    if rna.PFS[i]<3: # If PFS is lower than 3 months, I will consider it as NonResponder (NR)
        Y.append(0)
    else:
        Y.append(1)# If PFS is over 3 months, I will consider it as Responder (R)
Y

[1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0]

In [4]:
data = data.name
data.head()

0      PRKAR2B (ppp) AKAP1
1        MAP3K3 (ppp) TAB2
2      PRKAR2B (ppp) AKAP9
3      MAP3K3 (ppp) MAP3K7
4    PRKAR2B (ppp) PRKAR1A
Name: name, dtype: object

In [5]:
data.iloc[0]

'PRKAR2B (ppp) AKAP1'

In [6]:
import re
gene1=[]
gene2=[]
for i in range (len(data)):
    m = re.findall('[\\w\\s]+', data.iloc[i])
    gene1.append(m[0][:-1])
    gene2.append(m[2][1:])

genes = {'gene1':gene1, 'gene2':gene2}
data =pd.DataFrame(genes)
print(len(data))
data.head()

163

     gene1    gene2
0  PRKAR2B    AKAP1
1   MAP3K3     TAB2
2  PRKAR2B    AKAP9
3   MAP3K3   MAP3K7
4  PRKAR2B  PRKAR1A

In [7]:
gene1 = data.gene1.unique()
gene2 = data.gene2.unique()

In [8]:
gene1

array(['PRKAR2B', 'MAP3K3', 'TAB2', 'PRKACB', 'PRKAA2', 'AKAP8', 'PRKACG',
       'CAMKK1', 'PRKAR1A', 'PAK1', 'MAPK8', 'CAMK2B', 'MAP2K5', 'MAPK1',
       'CAMK4', 'PRKAG2', 'MAP2K1', 'TAB1', 'PRKCE', 'PRKACA', 'AKAP10',
       'PRKAB1', 'MAP3K11', 'MAPK14', 'CAMKK2', 'PAK2', 'CAMK2G',
       'MAPK8IP1', 'PRKAG1', 'MAPK8IP3', 'PRKAB2', 'MAPK11', 'LCK',
       'PRKX', 'MAP2K2', 'CAMK2D', 'MAPK3', 'PTK2', 'PKN1', 'ZAP70',
       'PRKAR2A', 'MAP4K4', 'MAP2K3', 'PRKAA1', 'GIT2', 'AKAP9', 'AKAP4',
       'MAP3K5', 'MAPK10', 'PAK3', 'AKAP13'], dtype=object)

In [9]:
genes= np.concatenate((gene1, gene2), axis=0)
genes

array(['PRKAR2B', 'MAP3K3', 'TAB2', 'PRKACB', 'PRKAA2', 'AKAP8', 'PRKACG',
       'CAMKK1', 'PRKAR1A', 'PAK1', 'MAPK8', 'CAMK2B', 'MAP2K5', 'MAPK1',
       'CAMK4', 'PRKAG2', 'MAP2K1', 'TAB1', 'PRKCE', 'PRKACA', 'AKAP10',
       'PRKAB1', 'MAP3K11', 'MAPK14', 'CAMKK2', 'PAK2', 'CAMK2G',
       'MAPK8IP1', 'PRKAG1', 'MAPK8IP3', 'PRKAB2', 'MAPK11', 'LCK',
       'PRKX', 'MAP2K2', 'CAMK2D', 'MAPK3', 'PTK2', 'PKN1', 'ZAP70',
       'PRKAR2A', 'MAP4K4', 'MAP2K3', 'PRKAA1', 'GIT2', 'AKAP9', 'AKAP4',
       'MAP3K5', 'MAPK10', 'PAK3', 'AKAP13', 'AKAP1', 'TAB2', 'AKAP9',
       'MAP3K7', 'PRKAR1A', 'TAB3', 'AKAP5', 'PRKAR1B', 'PRKACG',
       'PRKACB', 'PRKACA', 'PRKAG3', 'PRKAG1', 'CAMK2B', 'PAK4', 'CAMKK2',
       'MAP2K7', 'PAK3', 'CAMK2A', 'PTK2', 'MAP3K2', 'LCK', 'PAK2',
       'MAP3K3', 'GIT2', 'MAPK7', 'GIT1', 'MAPK3', 'PRKAA1', 'RPS6KA1',
       'PRKAA2', 'MAP2K1', 'MAP2K2', 'MAP3K1', 'PRKG1', 'PKN1', 'MAPK14',
       'AKAP4', 'PRKAR2A', 'AKAP14', 'PRKAB2', 'PKIA', 'PRKAG2', 'MAPK8',
       'MAP2K3', 'MAPK11', 'MAPKAPK3', 'MAPKAPK2', 'MAPK9', 'CAMK2D',
       'AKAP13', 'PTK2B', 'PRKCD', 'PRKCE', 'MAP3K5', 'AKAP8', 'PRKAR2B',
       'MAP2K4', 'MAP3K6'], dtype=object)

In [10]:
genes = np.unique(genes)

In [11]:
genes

array(['AKAP1', 'AKAP10', 'AKAP13', 'AKAP14', 'AKAP4', 'AKAP5', 'AKAP8',
       'AKAP9', 'CAMK2A', 'CAMK2B', 'CAMK2D', 'CAMK2G', 'CAMK4', 'CAMKK1',
       'CAMKK2', 'GIT1', 'GIT2', 'LCK', 'MAP2K1', 'MAP2K2', 'MAP2K3',
       'MAP2K4', 'MAP2K5', 'MAP2K7', 'MAP3K1', 'MAP3K11', 'MAP3K2',
       'MAP3K3', 'MAP3K5', 'MAP3K6', 'MAP3K7', 'MAP4K4', 'MAPK1',
       'MAPK10', 'MAPK11', 'MAPK14', 'MAPK3', 'MAPK7', 'MAPK8',
       'MAPK8IP1', 'MAPK8IP3', 'MAPK9', 'MAPKAPK2', 'MAPKAPK3', 'PAK1',
       'PAK2', 'PAK3', 'PAK4', 'PKIA', 'PKN1', 'PRKAA1', 'PRKAA2',
       'PRKAB1', 'PRKAB2', 'PRKACA', 'PRKACB', 'PRKACG', 'PRKAG1',
       'PRKAG2', 'PRKAG3', 'PRKAR1A', 'PRKAR1B', 'PRKAR2A', 'PRKAR2B',
       'PRKCD', 'PRKCE', 'PRKG1', 'PRKX', 'PTK2', 'PTK2B', 'RPS6KA1',
       'TAB1', 'TAB2', 'TAB3', 'ZAP70'], dtype=object)

In [12]:
rna = rna .iloc[:,28:43921  ]

In [13]:
rna.columns

Index(['5S_rRNA', '7SK', 'A1BG', 'A1BG-AS1', 'A1CF', 'A2M', 'A2M-AS1', 'A2ML1',
       'A2ML1-AS1', 'A2MP1',
       ...
       'ZWILCH', 'ZWINT', 'ZXDA', 'ZXDB', 'ZXDC', 'ZYG11A', 'ZYG11B', 'ZYX',
       'ZZEF1', 'ZZZ3'],
      dtype='object', length=43893)

In [14]:
rna.AKAP1

0      34.608085
1      33.991203
2      33.383751
3      33.504572
4      33.960169
         ...
176    34.044939
177    32.418678
178    33.336106
179    34.026063
180    34.793381
Name: AKAP1, Length: 181, dtype: float64

In [15]:
final_genes = pd.DataFrame(columns=genes)
for g in genes:
    if g in rna.columns:
        final_genes[g] = rna[g]
    else:
        print(g)
final_genes.head()

,AKAP1,AKAP10,AKAP13,AKAP14,AKAP4,AKAP5,AKAP8,AKAP9,CAMK2A,CAMK2B,...,PRKCE,PRKG1,PRKX,PTK2,PTK2B,RPS6KA1,TAB1,TAB2,TAB3,ZAP70
0,34.608085,33.496161,35.071896,22.030411,21.292506,25.036127,32.364362,34.799151,22.42737,23.306138,...,30.94168,31.13806,32.67034,34.68831,33.57576,33.94669,31.95379,34.91153,31.28668,31.17945
1,33.991203,33.321684,35.360390,22.030411,22.762193,28.279929,32.865812,35.333528,22.42737,29.331953,...,31.93903,33.28840,34.36043,35.21949,32.41343,32.19080,31.26559,35.52924,31.96868,29.38780
2,33.383751,33.224008,35.090412,22.030411,21.292506,29.082875,33.310765,34.894155,22.42737,28.546066,...,31.21546,30.52351,33.07848,35.37110,31.08899,32.79330,31.28554,36.91118,31.50909,29.53435
3,33.504572,34.388289,35.522805,22.030411,24.479975,28.863519,32.663189,35.605425,22.42737,28.099958,...,32.79986,34.23986,33.32578,35.75049,31.97237,32.69261,30.86918,35.41662,32.18003,29.32770
4,33.960169,32.784996,36.050989,22.030411,21.292506,25.036127,33.156714,35.929770,22.42737,23.306138,...,29.91208,33.44003,33.49095,37.18068,33.31277,30.10995,28.88966,36.12132,32.74898,30.59498

In [16]:
final_genes.to_csv("../Cytoscape/Kinase_gene_matrix_0.9confidence_75_nodes.csv")

In [17]:
g1 = data.gene1.to_numpy()
g2 = data.gene2.to_numpy()

In [18]:
genes = np.concatenate((g1,g2), axis=00)

In [19]:
genes2 = np.concatenate((g2,g1), axis=0)

In [20]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(genes)
list(le.classes_)

['AKAP1',
 'AKAP10',
 'AKAP13',
 'AKAP14',
 'AKAP4',
 'AKAP5',
 'AKAP8',
 'AKAP9',
 'CAMK2A',
 'CAMK2B',
 'CAMK2D',
 'CAMK2G',
 'CAMK4',
 'CAMKK1',
 'CAMKK2',
 'GIT1',
 'GIT2',
 'LCK',
 'MAP2K1',
 'MAP2K2',
 'MAP2K3',
 'MAP2K4',
 'MAP2K5',
 'MAP2K7',
 'MAP3K1',
 'MAP3K11',
 'MAP3K2',
 'MAP3K3',
 'MAP3K5',
 'MAP3K6',
 'MAP3K7',
 'MAP4K4',
 'MAPK1',
 'MAPK10',
 'MAPK11',
 'MAPK14',
 'MAPK3',
 'MAPK7',
 'MAPK8',
 'MAPK8IP1',
 'MAPK8IP3',
 'MAPK9',
 'MAPKAPK2',
 'MAPKAPK3',
 'PAK1',
 'PAK2',
 'PAK3',
 'PAK4',
 'PKIA',
 'PKN1',
 'PRKAA1',
 'PRKAA2',
 'PRKAB1',
 'PRKAB2',
 'PRKACA',
 'PRKACB',
 'PRKACG',
 'PRKAG1',
 'PRKAG2',
 'PRKAG3',
 'PRKAR1A',
 'PRKAR1B',
 'PRKAR2A',
 'PRKAR2B',
 'PRKCD',
 'PRKCE',
 'PRKG1',
 'PRKX',
 'PTK2',
 'PTK2B',
 'RPS6KA1',
 'TAB1',
 'TAB2',
 'TAB3',
 'ZAP70']

In [21]:
genes = le.transform(genes)
genes2 = le.transform(genes2)

In [22]:
genes

array([63, 27, 63, 27, 63, 72, 63, 72, 63, 55, 63, 55, 63, 55, 63, 51,  6,
       56,  6, 56,  6, 13, 60, 60, 44, 13, 38, 44,  9, 44, 22, 44, 44, 22,
       44, 22, 44, 32, 12, 32, 58, 32, 58, 32, 58, 32, 32, 18, 71, 65, 71,
       65, 71, 65, 71, 65, 71, 65, 71, 54,  1, 54,  1, 54, 52, 54, 52, 54,
       52, 54, 52, 54, 52, 54, 52, 25, 35, 25, 35, 14, 35, 45, 35, 45, 35,
       45, 45, 11, 11, 39, 11, 39, 57, 39, 57, 40, 57, 40, 57, 53, 57, 53,
       57, 53, 57, 53, 34, 53, 34, 17, 67, 17, 19, 17, 19, 10, 36, 10, 36,
       68, 36, 68, 68, 49, 74, 49, 62, 49, 62, 31, 62, 62, 20, 62, 20, 62,
       50, 62, 50, 62, 16, 62, 16, 62,  7, 62,  7, 62,  4, 62, 28, 62, 28,
       63, 28, 63, 33, 63, 46, 63,  2, 63,  2,  0, 72,  7, 30, 60, 73,  5,
       30, 61, 56, 55, 61, 54, 60, 56, 59, 57, 61, 56, 60, 55,  9,  0, 61,
       47, 14, 23, 46,  8, 68, 26, 17, 45, 27, 16, 37, 15, 68,  9, 17, 57,
       36, 50, 70, 51, 18, 19, 24, 66, 55, 27, 57, 73,  7, 72, 56, 30, 49,
       35,  4, 62,  3, 60, 56, 59,  5, 53, 48, 58, 55, 50, 60, 51, 61, 57,
       38, 66, 23, 20,  9, 34, 47, 43, 68, 42, 46, 16,  9,  8, 41, 10, 23,
       49, 38,  2, 17,  7, 68, 56, 59, 55, 50, 50, 58, 51, 51, 42, 57, 43,
       16, 60, 68, 18, 69, 36,  8, 17,  9, 64, 46, 18, 47, 16, 55, 17, 56,
       65,  7, 49, 24, 57,  3, 28, 60, 27, 61, 59,  4, 51,  2, 47,  6, 46,
        7, 56, 56, 55, 63, 55, 54,  9, 55, 21, 49, 29, 65, 21, 57, 47,  6,
       55,  2, 56])

In [23]:
genes2

array([ 0, 72,  7, 30, 60, 73,  5, 30, 61, 56, 55, 61, 54, 60, 56, 59, 57,
       61, 56, 60, 55,  9,  0, 61, 47, 14, 23, 46,  8, 68, 26, 17, 45, 27,
       16, 37, 15, 68,  9, 17, 57, 36, 50, 70, 51, 18, 19, 24, 66, 55, 27,
       57, 73,  7, 72, 56, 30, 49, 35,  4, 62,  3, 60, 56, 59,  5, 53, 48,
       58, 55, 50, 60, 51, 61, 57, 38, 66, 23, 20,  9, 34, 47, 43, 68, 42,
       46, 16,  9,  8, 41, 10, 23, 49, 38,  2, 17,  7, 68, 56, 59, 55, 50,
       50, 58, 51, 51, 42, 57, 43, 16, 60, 68, 18, 69, 36,  8, 17,  9, 64,
       46, 18, 47, 16, 55, 17, 56, 65,  7, 49, 24, 57,  3, 28, 60, 27, 61,
       59,  4, 51,  2, 47,  6, 46,  7, 56, 56, 55, 63, 55, 54,  9, 55, 21,
       49, 29, 65, 21, 57, 47,  6, 55,  2, 56, 63, 27, 63, 27, 63, 72, 63,
       72, 63, 55, 63, 55, 63, 55, 63, 51,  6, 56,  6, 56,  6, 13, 60, 60,
       44, 13, 38, 44,  9, 44, 22, 44, 44, 22, 44, 22, 44, 32, 12, 32, 58,
       32, 58, 32, 58, 32, 32, 18, 71, 65, 71, 65, 71, 65, 71, 65, 71, 65,
       71, 54,  1, 54,  1, 54, 52, 54, 52, 54, 52, 54, 52, 54, 52, 54, 52,
       25, 35, 25, 35, 14, 35, 45, 35, 45, 35, 45, 45, 11, 11, 39, 11, 39,
       57, 39, 57, 40, 57, 40, 57, 53, 57, 53, 57, 53, 57, 53, 34, 53, 34,
       17, 67, 17, 19, 17, 19, 10, 36, 10, 36, 68, 36, 68, 68, 49, 74, 49,
       62, 49, 62, 31, 62, 62, 20, 62, 20, 62, 50, 62, 50, 62, 16, 62, 16,
       62,  7, 62,  7, 62,  4, 62, 28, 62, 28, 63, 28, 63, 33, 63, 46, 63,
        2, 63,  2])