In [108]:
import pandas as pd
import numpy as np

In [109]:
path ='../Cytoscape/STRING network (physical)(1) default edge  kinase genes principal component 131 nodes (x3bigger).csv'
data = pd.read_csv(path)
path ='../../../../Data_preprocessing/Prediction PFS/RNA+Clinic joined/Clinical_data_and_RNA_total_Features_PFS.csv'
rna = pd.read_csv(path)
# rna = rna .iloc[:,28:43921  ]
data.head()

,interaction,name,selected,shared interaction,shared name,stringdb::databases,stringdb::experiments,stringdb::interspecies,stringdb::score,stringdb::textmining
0,ppp,LCK (ppp) CD247,False,ppp,LCK (ppp) CD247,0.9,0.484,NaN,0.990,0.837
1,ppp,PKMYT1 (ppp) CKS1B,False,ppp,PKMYT1 (ppp) CKS1B,NaN,0.725,NaN,0.797,0.294
2,ppp,PTK2 (ppp) PAK3,False,ppp,PTK2 (ppp) PAK3,0.9,NaN,NaN,0.900,NaN
3,ppp,PKMYT1 (ppp) CKS2,False,ppp,PKMYT1 (ppp) CKS2,NaN,0.709,NaN,0.785,0.294
4,ppp,PTK2 (ppp) PAK4,False,ppp,PTK2 (ppp) PAK4,0.9,NaN,NaN,0.900,NaN

In [110]:
Y = [] # Target column
# For each entry I classified it by its PFS value.
for i in range (len(rna)):
    if rna.PFS[i]<3: # If PFS is lower than 3 months, I will consider it as NonResponder (NR)
        Y.append(0)
    else:
        Y.append(1)# If PFS is over 3 months, I will consider it as Responder (R)
Y

[1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0]

In [111]:
data = data.name
data.head()

0       LCK (ppp) CD247
1    PKMYT1 (ppp) CKS1B
2       PTK2 (ppp) PAK3
3     PKMYT1 (ppp) CKS2
4       PTK2 (ppp) PAK4
Name: name, dtype: object

In [112]:
data.iloc[0]

'LCK (ppp) CD247'

In [113]:
import re
gene1=[]
gene2=[]
for i in range (len(data)):
    m = re.findall('[\\w\\s]+', data.iloc[i])
    gene1.append(m[0][:-1])
    gene2.append(m[2][1:])

genes = {'gene1':gene1, 'gene2':gene2}
data =pd.DataFrame(genes)
print(len(data))
data.head()

350

    gene1  gene2
0     LCK  CD247
1  PKMYT1  CKS1B
2    PTK2   PAK3
3  PKMYT1   CKS2
4    PTK2   PAK4

In [114]:
gene1 = data.gene1.unique()
gene2 = data.gene2.unique()

In [115]:
gene1

array(['LCK', 'PKMYT1', 'PTK2', 'PRKX', 'PKN1', 'PDPK1', 'MAP2K2', 'GIT2',
       'MAPK3', 'MAP4K4', 'MAP2K3', 'PRKCQ', 'PRKAA1', 'AKAP9', 'AKAP4',
       'PRKCG', 'PAK3', 'CUL3', 'CBL', 'MAP3K5', 'MAPK10', 'ZAP70',
       'AKAP13', 'PRKAR2A', 'PRKACB', 'MAP3K3', 'TAB2', 'MAP3K7',
       'RPS6KA3', 'PRKAA2', 'AKAP14', 'PRKACG', 'PRKAR2B', 'PRKAR1A',
       'MAP3K4', 'MAPKAP1', 'CAMK2B', 'CAMKK1', 'AKAP5', 'MAP2K5',
       'MAPK8', 'AKAP12', 'MAPK13', 'MAP3K1', 'MAPK4', 'MAP2K7', 'VCL',
       'PRKAR1B', 'PXN', 'MAPK9', 'RPS6KA2', 'MAPK1', 'PAK6', 'TAB1',
       'AKAP8', 'SKP2', 'RBX1', 'PAK1', 'FBXW7', 'PRKAG2', 'CAMK4',
       'RPS6KB1', 'AKAP10', 'PKN3', 'PRKCI', 'DDB1', 'MAPK14', 'RICTOR',
       'PRKAB1', 'MAP2K1', 'PRKCE', 'CKS1B', 'SKP1', 'RPTOR', 'PRKACA',
       'DOK1', 'MAPK7', 'CAMKK2', 'NEDD8', 'MAPK8IP1', 'MAP3K11', 'PAK2',
       'PRKDC', 'MAPK6', 'CAMK2G', 'MAPK8IP3', 'UBE2M', 'PRKAG1',
       'PRKAB2', 'MAPK8IP2', 'PRKD1', 'CUL1', 'MAPK11', 'CAMK2D'],
      dtype=object)

In [116]:
genes= np.concatenate((gene1, gene2), axis=0)
genes

array(['LCK', 'PKMYT1', 'PTK2', 'PRKX', 'PKN1', 'PDPK1', 'MAP2K2', 'GIT2',
       'MAPK3', 'MAP4K4', 'MAP2K3', 'PRKCQ', 'PRKAA1', 'AKAP9', 'AKAP4',
       'PRKCG', 'PAK3', 'CUL3', 'CBL', 'MAP3K5', 'MAPK10', 'ZAP70',
       'AKAP13', 'PRKAR2A', 'PRKACB', 'MAP3K3', 'TAB2', 'MAP3K7',
       'RPS6KA3', 'PRKAA2', 'AKAP14', 'PRKACG', 'PRKAR2B', 'PRKAR1A',
       'MAP3K4', 'MAPKAP1', 'CAMK2B', 'CAMKK1', 'AKAP5', 'MAP2K5',
       'MAPK8', 'AKAP12', 'MAPK13', 'MAP3K1', 'MAPK4', 'MAP2K7', 'VCL',
       'PRKAR1B', 'PXN', 'MAPK9', 'RPS6KA2', 'MAPK1', 'PAK6', 'TAB1',
       'AKAP8', 'SKP2', 'RBX1', 'PAK1', 'FBXW7', 'PRKAG2', 'CAMK4',
       'RPS6KB1', 'AKAP10', 'PKN3', 'PRKCI', 'DDB1', 'MAPK14', 'RICTOR',
       'PRKAB1', 'MAP2K1', 'PRKCE', 'CKS1B', 'SKP1', 'RPTOR', 'PRKACA',
       'DOK1', 'MAPK7', 'CAMKK2', 'NEDD8', 'MAPK8IP1', 'MAP3K11', 'PAK2',
       'PRKDC', 'MAPK6', 'CAMK2G', 'MAPK8IP3', 'UBE2M', 'PRKAG1',
       'PRKAB2', 'MAPK8IP2', 'PRKD1', 'CUL1', 'MAPK11', 'CAMK2D', 'CD247',
       'CKS1B', 'PAK3', 'CKS2', 'PAK4', 'PRKAR1B', 'PRKACB', 'PRKAR2A',
       'PDPK1', 'PRKAR1A', 'PRKCZ', 'PRKAR2B', 'PKN2', 'MAPK3', 'GIT1',
       'LCK', 'MAP2K1', 'RPS6KA2', 'AKAP9', 'PRKACG', 'PRKCD', 'MAP3K1',
       'DAPK1', 'MAP3K7', 'RPS6KA3', 'MAP3K3', 'MAP3K4', 'MAP3K5',
       'MAPK7', 'PRKAG3', 'RPS6KA1', 'PRKAA2', 'AKAP14', 'PRKCA', 'CUL1',
       'PXN', 'MAP2K6', 'SH3KBP1', 'MAP2K7', 'ZAP70', 'MAP2K4', 'PTK2B',
       'BTRC', 'CAMK2B', 'DDB1', 'MAP3K6', 'AKAP5', 'AKAP7', 'TAB2',
       'PRKAA1', 'AKAP1', 'TAB3', 'PRKAG2', 'PKIA', 'AKAP8', 'PKN1',
       'PRKAG1', 'PRKCE', 'PRKACA', 'AKAP4', 'AKAP13', 'RPTOR', 'CAMK2A',
       'MTOR', 'CAMKK2', 'MAPKAPK3', 'MAPKAPK5', 'MAPK9', 'MAP3K2',
       'PRKDC', 'PTK2', 'MAPK1', 'PAK1', 'RICTOR', 'PTK6', 'MAP2K2',
       'GIT2', 'PARVA', 'PAK2', 'PRKG1', 'MAPK14', 'MAPK11', 'TCEB2',
       'NEDD8', 'CUL4A', 'UBE2M', 'CUL3', 'FBXW7', 'SKP1', 'SKP2',
       'MAP2K3', 'PRKAB2', 'RPS6KB2', 'MAPKAPK2', 'TEC', 'MAP3K12',
       'MAPK8', 'MAP3K13', 'MAPK10', 'MAPK8IP2', 'MAPK8IP3', 'MAP3K11',
       'XRCC6', 'CAMK2D'], dtype=object)

In [117]:
genes = np.unique(genes)

In [118]:
genes

array(['AKAP1', 'AKAP10', 'AKAP12', 'AKAP13', 'AKAP14', 'AKAP4', 'AKAP5',
       'AKAP7', 'AKAP8', 'AKAP9', 'BTRC', 'CAMK2A', 'CAMK2B', 'CAMK2D',
       'CAMK2G', 'CAMK4', 'CAMKK1', 'CAMKK2', 'CBL', 'CD247', 'CKS1B',
       'CKS2', 'CUL1', 'CUL3', 'CUL4A', 'DAPK1', 'DDB1', 'DOK1', 'FBXW7',
       'GIT1', 'GIT2', 'LCK', 'MAP2K1', 'MAP2K2', 'MAP2K3', 'MAP2K4',
       'MAP2K5', 'MAP2K6', 'MAP2K7', 'MAP3K1', 'MAP3K11', 'MAP3K12',
       'MAP3K13', 'MAP3K2', 'MAP3K3', 'MAP3K4', 'MAP3K5', 'MAP3K6',
       'MAP3K7', 'MAP4K4', 'MAPK1', 'MAPK10', 'MAPK11', 'MAPK13',
       'MAPK14', 'MAPK3', 'MAPK4', 'MAPK6', 'MAPK7', 'MAPK8', 'MAPK8IP1',
       'MAPK8IP2', 'MAPK8IP3', 'MAPK9', 'MAPKAP1', 'MAPKAPK2', 'MAPKAPK3',
       'MAPKAPK5', 'MTOR', 'NEDD8', 'PAK1', 'PAK2', 'PAK3', 'PAK4',
       'PAK6', 'PARVA', 'PDPK1', 'PKIA', 'PKMYT1', 'PKN1', 'PKN2', 'PKN3',
       'PRKAA1', 'PRKAA2', 'PRKAB1', 'PRKAB2', 'PRKACA', 'PRKACB',
       'PRKACG', 'PRKAG1', 'PRKAG2', 'PRKAG3', 'PRKAR1A', 'PRKAR1B',
       'PRKAR2A', 'PRKAR2B', 'PRKCA', 'PRKCD', 'PRKCE', 'PRKCG', 'PRKCI',
       'PRKCQ', 'PRKCZ', 'PRKD1', 'PRKDC', 'PRKG1', 'PRKX', 'PTK2',
       'PTK2B', 'PTK6', 'PXN', 'RBX1', 'RICTOR', 'RPS6KA1', 'RPS6KA2',
       'RPS6KA3', 'RPS6KB1', 'RPS6KB2', 'RPTOR', 'SH3KBP1', 'SKP1',
       'SKP2', 'TAB1', 'TAB2', 'TAB3', 'TCEB2', 'TEC', 'UBE2M', 'VCL',
       'XRCC6', 'ZAP70'], dtype=object)

In [119]:
rna = rna .iloc[:,28:43921  ]

In [120]:
rna.columns

Index(['5S_rRNA', '7SK', 'A1BG', 'A1BG-AS1', 'A1CF', 'A2M', 'A2M-AS1', 'A2ML1',
       'A2ML1-AS1', 'A2MP1',
       ...
       'ZWILCH', 'ZWINT', 'ZXDA', 'ZXDB', 'ZXDC', 'ZYG11A', 'ZYG11B', 'ZYX',
       'ZZEF1', 'ZZZ3'],
      dtype='object', length=43893)

In [121]:
rna.AKAP1

0      34.608085
1      33.991203
2      33.383751
3      33.504572
4      33.960169
         ...
176    34.044939
177    32.418678
178    33.336106
179    34.026063
180    34.793381
Name: AKAP1, Length: 181, dtype: float64

In [122]:
final_genes = pd.DataFrame(columns=genes)
for g in genes:
    if g in rna.columns:
        final_genes[g] = rna[g]
    else:
        print(g)
final_genes.head()

,AKAP1,AKAP10,AKAP12,AKAP13,AKAP14,AKAP4,AKAP5,AKAP7,AKAP8,AKAP9,...,SKP2,TAB1,TAB2,TAB3,TCEB2,TEC,UBE2M,VCL,XRCC6,ZAP70
0,34.608085,33.496161,33.708977,35.071896,22.030411,21.292506,25.036127,32.352171,32.364362,34.799151,...,32.63417,31.95379,34.91153,31.28668,34.75814,29.68056,33.82521,34.12352,35.24634,31.17945
1,33.991203,33.321684,34.364882,35.360390,22.030411,22.762193,28.279929,32.332165,32.865812,35.333528,...,31.80604,31.26559,35.52924,31.96868,34.38246,30.78769,32.57963,35.34613,35.91455,29.38780
2,33.383751,33.224008,31.941494,35.090412,22.030411,21.292506,29.082875,32.506326,33.310765,34.894155,...,32.78642,31.28554,36.91118,31.50909,34.43952,31.05624,33.20477,34.60666,36.05801,29.53435
3,33.504572,34.388289,33.921804,35.522805,22.030411,24.479975,28.863519,32.080430,32.663189,35.605425,...,31.60685,30.86918,35.41662,32.18003,34.36787,30.20403,33.48316,36.13525,35.75676,29.32770
4,33.960169,32.784996,34.566394,36.050989,22.030411,21.292506,25.036127,25.443711,33.156714,35.929770,...,32.31155,28.88966,36.12132,32.74898,32.50010,27.76103,33.09984,35.03527,36.33015,30.59498

In [123]:
# final_genes.to_csv("../Cytoscape/Kinase_gene_matrix_X3_131_nodes.csv")

In [124]:
g1 = data.gene1.to_numpy()
g2 = data.gene2.to_numpy()

In [127]:
genes = np.concatenate((g1,g2), axis=00)

In [128]:
genes2 = np.concatenate((g2,g1), axis=0)

In [129]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(genes)
list(le.classes_)

['AKAP1',
 'AKAP10',
 'AKAP12',
 'AKAP13',
 'AKAP14',
 'AKAP4',
 'AKAP5',
 'AKAP7',
 'AKAP8',
 'AKAP9',
 'BTRC',
 'CAMK2A',
 'CAMK2B',
 'CAMK2D',
 'CAMK2G',
 'CAMK4',
 'CAMKK1',
 'CAMKK2',
 'CBL',
 'CD247',
 'CKS1B',
 'CKS2',
 'CUL1',
 'CUL3',
 'CUL4A',
 'DAPK1',
 'DDB1',
 'DOK1',
 'FBXW7',
 'GIT1',
 'GIT2',
 'LCK',
 'MAP2K1',
 'MAP2K2',
 'MAP2K3',
 'MAP2K4',
 'MAP2K5',
 'MAP2K6',
 'MAP2K7',
 'MAP3K1',
 'MAP3K11',
 'MAP3K12',
 'MAP3K13',
 'MAP3K2',
 'MAP3K3',
 'MAP3K4',
 'MAP3K5',
 'MAP3K6',
 'MAP3K7',
 'MAP4K4',
 'MAPK1',
 'MAPK10',
 'MAPK11',
 'MAPK13',
 'MAPK14',
 'MAPK3',
 'MAPK4',
 'MAPK6',
 'MAPK7',
 'MAPK8',
 'MAPK8IP1',
 'MAPK8IP2',
 'MAPK8IP3',
 'MAPK9',
 'MAPKAP1',
 'MAPKAPK2',
 'MAPKAPK3',
 'MAPKAPK5',
 'MTOR',
 'NEDD8',
 'PAK1',
 'PAK2',
 'PAK3',
 'PAK4',
 'PAK6',
 'PARVA',
 'PDPK1',
 'PKIA',
 'PKMYT1',
 'PKN1',
 'PKN2',
 'PKN3',
 'PRKAA1',
 'PRKAA2',
 'PRKAB1',
 'PRKAB2',
 'PRKACA',
 'PRKACB',
 'PRKACG',
 'PRKAG1',
 'PRKAG2',
 'PRKAG3',
 'PRKAR1A',
 'PRKAR1B',
 'PRKAR2A',
 'PRKAR2B',
 'PRKCA',
 'PRKCD',
 'PRKCE',
 'PRKCG',
 'PRKCI',
 'PRKCQ',
 'PRKCZ',
 'PRKD1',
 'PRKDC',
 'PRKG1',
 'PRKX',
 'PTK2',
 'PTK2B',
 'PTK6',
 'PXN',
 'RBX1',
 'RICTOR',
 'RPS6KA1',
 'RPS6KA2',
 'RPS6KA3',
 'RPS6KB1',
 'RPS6KB2',
 'RPTOR',
 'SH3KBP1',
 'SKP1',
 'SKP2',
 'TAB1',
 'TAB2',
 'TAB3',
 'TCEB2',
 'TEC',
 'UBE2M',
 'VCL',
 'XRCC6',
 'ZAP70']

In [130]:
genes = le.transform(genes)
genes2 = le.transform(genes2)

In [131]:
genes

array([ 31,  78, 107,  78, 107, 106,  79, 106,  79, 106,  76, 106,  76,
        33,  30,  55,  30,  33, 107,  55,  79,  55,  79,  55,  49,  55,
        76,  55,  34,  55,  34, 101,  34,  55,  82, 101,  82,  55,  82,
       101,  30,   9,   5,  99,  72,  23,   5,  18,  46,  18,  51,  18,
        51,  18,   5,  23,  46,  18,  46,  18,  46,  23,  46, 130,  72,
       130,   3,  94,  87,  94,   3,  94,  44,  94,  44,  94, 123,  94,
       123,  94,  48,  94,  87,  94,  87,  94,  87,  94,  87,  94,  87,
        94,  87,  94, 115,  94,  83,  94,   4,  94,  88,  94,  88,  94,
        88,  95,  88,  95,  92,  95,  45,  95,  45,  64,  12,  16,  64,
        92,  95,   6,  95,  92,  36,  95,  92,  16,  95,  59,  95,  59,
        16,  95,   2,  53,  95,  39,  53,  95,  56,  36,  95,  38,  36,
        64,  38, 128,  95,  93, 128, 110,  63, 128,  64, 114, 128, 110,
        50, 110,  74,  50, 110,  50, 110,  50, 110,  50, 110,  50, 110,
        50, 110,  50, 110, 122,   8, 122,   8, 122, 110, 122, 121, 111,
        70, 122,   8, 122, 121, 122, 121, 111,  70, 111,  70, 111,  70,
       111,  70, 111,  70, 111,  70, 111,  28, 111,  90, 111,  15, 116,
        90, 111,  28, 111,  90, 116,  90,   1,  90,   1,  81, 116, 100,
       116,  26,   1,  54, 112,   1, 112,  84, 112,  84,  26,  84,  32,
        84,  32,  84,  98,  84,  98,  54,  98,  54,  98,  54,  98,  54,
        98,  54,  98,  54,  20, 120, 118, 120,  86, 120,  86, 120,  86,
       120,  86, 120,  86,  27,  86, 120,  86, 120,  86, 120,  58,  27,
        17,  69,  17,  60, 118,  60,  86,  60,  86,  60,  86,  60,  40,
        60,  40,  60,  20,  60,  71,  60,  71,  69, 104,  69,  71,  69,
        71,  69,  71,  69,  31,  57,  14,  62,  14,  62,  14, 127,  89,
        85,  89,  85,  89,  69,  89,  69,  89,  69,  61,  62, 103,  62,
        89,  62,  89,  62,  89,  62,  22, 127,  52, 127,  52, 127,  52,
        85,  31,  85,  13,  85,  31,  85,  13,  85, 107,  85,   9,  19,
        20,  72,  21,  73,  93,  87,  94,  76,  92, 102,  95,  80,  55,
        29,  31,  73,  32,  29, 114,   9,  32,  88,  97,  39,  25,  48,
       115,  44,  39,  45,  31,  46,  58,  91,  48,  92, 113,  83,  76,
        72,  87,   4,  96,  29,  22,  87, 110,  37, 119,  38, 130,  35,
       108,  92,  10,  38,  31,  35,  19,  12,  26,  47,  31,  73,  19,
        87,   6,  93,   9,  88,  92,  48,   7, 123,  82,  48,   0, 124,
        88, 124,  95,   4,  90,  77,   8,   6,   4,  88,  79,   0,  89,
        92,  98, 113,  87,  91,  93,  88,  86,   6,   5,  93,   3,  92,
        86,   0,  92,   6,  79,  37,  93, 119, 118,  11,  82,  68,  93,
         4,  96,  89,   7,  58,  87,   0,  12,   8,  38,   6,  35,  17,
         3,  96,  45,  88,  35,  66,   0,  67,  44,   9,  63,  43, 104,
        39, 107,  98,   0,  50,  70,  35,  31, 112, 113, 110, 108,  55,
        31,  73,  32, 109, 114,  72,  33,  30,  31,  75, 113,  71, 107,
        73, 115,  29,  48,  87, 123,  89, 124, 107, 105,  22,  22,  29,
        54,  88,  44,  20,  52,  26,  26,  73, 125,  71,  69,  30,  24,
        31, 127, 107,  23,  72,  20,  22,  28,  86,  10,  12,  68,  82,
       120,  10, 121,  83, 118,  92,  93,  89,  94,  76, 112, 102,  76,
        24,  95,  34, 118,  92,  22,  83,  68,  89,  22,  91,  39,  90,
        29,  85,  96,  82,  87,  52, 117,  65,  89, 105,  88,  67,   9,
        37,  79,  66,  21,  22, 117,  69,   6, 127,  77,  23,  89,  28,
        87,  10,   5, 126,  82, 121,   0,  20,  88,  24, 102, 109,  83,
        20,  12,  41,  68,  59,   4,  42,  93,  51,  92,  61,  38,  63,
        59,  62,  22,  38,  29,  40,  72, 127, 129, 125,  73,  26, 107,
        24,  30,  22, 107,  67,  12, 107,  11,  31,  13,  20,   3,  89,
         9,  91,  87, 121,  83,  23,  92,  10,  34,  46,   3,  35,  79,
        51,  82,  59,  88,  61,  10, 121,  66,  24,  65,  22,  67,  94,
        30,  86,  12,  82, 108,  90,  11,  83,  30,  92,  88])

In [132]:
genes2

array([ 19,  20,  72,  21,  73,  93,  87,  94,  76,  92, 102,  95,  80,
        55,  29,  31,  73,  32,  29, 114,   9,  32,  88,  97,  39,  25,
        48, 115,  44,  39,  45,  31,  46,  58,  91,  48,  92, 113,  83,
        76,  72,  87,   4,  96,  29,  22,  87, 110,  37, 119,  38, 130,
        35, 108,  92,  10,  38,  31,  35,  19,  12,  26,  47,  31,  73,
        19,  87,   6,  93,   9,  88,  92,  48,   7, 123,  82,  48,   0,
       124,  88, 124,  95,   4,  90,  77,   8,   6,   4,  88,  79,   0,
        89,  92,  98, 113,  87,  91,  93,  88,  86,   6,   5,  93,   3,
        92,  86,   0,  92,   6,  79,  37,  93, 119, 118,  11,  82,  68,
        93,   4,  96,  89,   7,  58,  87,   0,  12,   8,  38,   6,  35,
        17,   3,  96,  45,  88,  35,  66,   0,  67,  44,   9,  63,  43,
       104,  39, 107,  98,   0,  50,  70,  35,  31, 112, 113, 110, 108,
        55,  31,  73,  32, 109, 114,  72,  33,  30,  31,  75, 113,  71,
       107,  73, 115,  29,  48,  87, 123,  89, 124, 107, 105,  22,  22,
        29,  54,  88,  44,  20,  52,  26,  26,  73, 125,  71,  69,  30,
        24,  31, 127, 107,  23,  72,  20,  22,  28,  86,  10,  12,  68,
        82, 120,  10, 121,  83, 118,  92,  93,  89,  94,  76, 112, 102,
        76,  24,  95,  34, 118,  92,  22,  83,  68,  89,  22,  91,  39,
        90,  29,  85,  96,  82,  87,  52, 117,  65,  89, 105,  88,  67,
         9,  37,  79,  66,  21,  22, 117,  69,   6, 127,  77,  23,  89,
        28,  87,  10,   5, 126,  82, 121,   0,  20,  88,  24, 102, 109,
        83,  20,  12,  41,  68,  59,   4,  42,  93,  51,  92,  61,  38,
        63,  59,  62,  22,  38,  29,  40,  72, 127, 129, 125,  73,  26,
       107,  24,  30,  22, 107,  67,  12, 107,  11,  31,  13,  20,   3,
        89,   9,  91,  87, 121,  83,  23,  92,  10,  34,  46,   3,  35,
        79,  51,  82,  59,  88,  61,  10, 121,  66,  24,  65,  22,  67,
        94,  30,  86,  12,  82, 108,  90,  11,  83,  30,  92,  88,  31,
        78, 107,  78, 107, 106,  79, 106,  79, 106,  76, 106,  76,  33,
        30,  55,  30,  33, 107,  55,  79,  55,  79,  55,  49,  55,  76,
        55,  34,  55,  34, 101,  34,  55,  82, 101,  82,  55,  82, 101,
        30,   9,   5,  99,  72,  23,   5,  18,  46,  18,  51,  18,  51,
        18,   5,  23,  46,  18,  46,  18,  46,  23,  46, 130,  72, 130,
         3,  94,  87,  94,   3,  94,  44,  94,  44,  94, 123,  94, 123,
        94,  48,  94,  87,  94,  87,  94,  87,  94,  87,  94,  87,  94,
        87,  94, 115,  94,  83,  94,   4,  94,  88,  94,  88,  94,  88,
        95,  88,  95,  92,  95,  45,  95,  45,  64,  12,  16,  64,  92,
        95,   6,  95,  92,  36,  95,  92,  16,  95,  59,  95,  59,  16,
        95,   2,  53,  95,  39,  53,  95,  56,  36,  95,  38,  36,  64,
        38, 128,  95,  93, 128, 110,  63, 128,  64, 114, 128, 110,  50,
       110,  74,  50, 110,  50, 110,  50, 110,  50, 110,  50, 110,  50,
       110,  50, 110, 122,   8, 122,   8, 122, 110, 122, 121, 111,  70,
       122,   8, 122, 121, 122, 121, 111,  70, 111,  70, 111,  70, 111,
        70, 111,  70, 111,  70, 111,  28, 111,  90, 111,  15, 116,  90,
       111,  28, 111,  90, 116,  90,   1,  90,   1,  81, 116, 100, 116,
        26,   1,  54, 112,   1, 112,  84, 112,  84,  26,  84,  32,  84,
        32,  84,  98,  84,  98,  54,  98,  54,  98,  54,  98,  54,  98,
        54,  98,  54,  20, 120, 118, 120,  86, 120,  86, 120,  86, 120,
        86, 120,  86,  27,  86, 120,  86, 120,  86, 120,  58,  27,  17,
        69,  17,  60, 118,  60,  86,  60,  86,  60,  86,  60,  40,  60,
        40,  60,  20,  60,  71,  60,  71,  69, 104,  69,  71,  69,  71,
        69,  71,  69,  31,  57,  14,  62,  14,  62,  14, 127,  89,  85,
        89,  85,  89,  69,  89,  69,  89,  69,  61,  62, 103,  62,  89,
        62,  89,  62,  89,  62,  22, 127,  52, 127,  52, 127,  52,  85,
        31,  85,  13,  85,  31,  85,  13,  85, 107,  85,   9])